mimeapps.list
pavucontrol.ini
yay
xfce4
Thunar
pulse
procps
menus
gtk-3.0
google-chrome
go
dconf
Code
dolphinrc
QtProject.conf
session
VirtualBox
kde.org
yarn
zed
font-manager
fontconfig
vlc
neofetch
spotify-tui